.demo {
    background-color: gray;
}

.divElement {
    font-size: larger;
}

.div123 {
    font-size: smaller;
}

.findMe {
    text-align: center;
}

.orderGoods {
    background-color: lightblue;
}

.dot {
    color: violet;
}

